*{
	margin: 0;
	padding: 0;

}
.navbar{
border: none;
background-color: black;
color: #61122F;
}

h1 {
	font-family: Helvetica;
	color: #000000;
}
body{
	background-color: #FEF5CA;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#FEF5CA;
}

.center{
	width: 90%;
	background-color: grey;

}
.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
.text-center{
	font-size: 30px;
}

/* h2{
	text-align: center;
} */
p {
	padding: 10px;
	margin: 0;
}

#myNavbar ul li a {
	color: #FEF5CA;
	font-size: 125%;
}
.navbar-brand{
font-size: 30px;
}

#habitual {
	border: 1px solid black;
	text-align: center;
	width: 30%;
  margin-left: auto;
  margin-right: auto;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: black;
}

#company {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: auto;
  margin-right: auto;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: white;
	color: black;
}

#anyone {
	border: 1px solid black;
	text-align: center;
	width: 30%;
  margin-left: auto;
  margin-right: auto;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: black;
	color: white;
	padding: 5px;
}

#habitual-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#company-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#anyone-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

section {
	border:	1px solid black;
	background-color: grey;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	/* color: black; */
	position: relative;
	overflow: auto;
}
